.mmm-rio-wrapper {
    font-family: "Roboto Condensed", sans-serif;
    list-style-type: none;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.mmm-rio-wrapper-inner {
    display: flex;
    align-items: center;
    line-height: 1.5;
    color: rgba(0, 0, 0, .7);
}

.mmm-rio-wrapper-img {
    height: 4rem;
}

.mmm-rio-wrapper-text-wrapper {
    padding-left: 1rem;
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
    text-align: left;
    max-width: 9rem;
}

.mmm-rio-wrapper-text-wrapper-text {
    font-size: .95rem;
    display: block;
    color: white;
}

.mmm-rio-wrapper-score {
    font-size: 1.25rem;
    display: block;
    color: rgba(57, 255, 20);
}

.mmm-rio-complete {
    color: rgba(57, 255, 20);
}

.mmm-rio-wrapper-text-wrapper-text-underline {
    inline-size: max-content;
    text-decoration-line:underline;
}

.mmm-rio-compact {
    width: 10rem;
    padding-left: 2px;
    text-align: left;
}

.mmm-rio-compact-text {
    max-width: 25%;
}